
p {
    font-family: 'Times New Roman', Times, serif;
   
}

img {
    margin-left: auto;
    margin-right: 0;
    display: block;
    
}
body{
    font-size: 15pt;
    background-color: rgb(233, 233, 233);
}